# --- PyTorch for CUDA 11.8 ---
--extra-index-url https://download.pytorch.org/whl/cu118
# --- PyTorch for CUDA 12.1 ---
--extra-index-url https://download.pytorch.org/whl/cu121
# --- Core Dependencies ---
torch
torchvision
torchaudio

# --- Data Handling & MIDI ---
numpy
pandas
pretty_midi
mido
scipy
dtw-python

# --- Utilities & Plotting ---
matplotlib
tqdm


# # Data handling and numerical operations
# numpy
# pandas
# # MIDI file processing
# pretty_midi
# mido
# # Plotting and visualization
# matplotlib
# # NOTE: torch and torchvision are installed separately below
# # to ensure correct CUDA version matching.
# # pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# torch 
# torchvision 
# torchaudio 
# tqdm
# # uv add dtw-python
# # uv add scipy 
# # for server 
# # torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
